%section.task_list
  %ul
    -15.times do |i
      %li
        %h1 Task name
%section.task_form
  %form
    %fieldset
      %textarea enter your text here
    %fieldset
      %input{ type: 'submit' }
