%section.sign_up
  %form
    %h1 Sign Up
    %fieldset
      %dl
        %dd
          %input{placeholder: 'email', type: 'text'}
        %dd
          %input{placeholder: 'username (optional)', type: 'text'}
        %dd
          %input{placeholder: 'password', type: 'password'}
        %dd
          %input{placeholder: 'password confirmation', type: 'password'}
    %fieldset
      %input{type: 'submit', value: 'sign in'}

