%section.sign_in
  %form
    %h1 Sign In
    %fieldset
      %dl
        %dd
          %input{placeholder: 'email or username', type: 'text'}
        %dd
          %input{placeholder: 'password', type: 'password'}
    %fieldset
      %input{type: 'submit', value: 'sign in'}

