@import "mixins"
$dark_grey: #444
$grey: #aaa
$task_form_width: 500px
$active_blue: #146bfb
$button_green: #029f1c
$red: #e20606
$purple: #8706e2

*
  font-family: "Ubuntu Mono"

body
  font-family: 'Ubuntu Mono', monospace, sans-serif
  letter-spacing: -0.5px
  margin: 0
  color: $dark_grey
  font-size: 17px
  width: 1130px
  position: relative
  margin: 0 auto
  a
    text-decoration: none
    color: #666666
  header
    border-bottom: solid 1px $grey
    z-index: 1
    width: 100%
    background: #ffffff
    nav.settings
      float: right
      padding: 14px 12px 0 0
      a
        font-size: 14px
        &:hover
          text-decoration: underline
    nav.projects
      display: inline-block
      a
        margin: 0
        padding: 0 2px 0 4px
        border-left: solid 1px $dark_grey
        &:first-child
          border: none
        &.active
          font-weight: bold
          color: $active_blue
    h1
      font-size: 24px
      margin: 0px
      padding: 5px 0 5px 0
      display: inline-block
      a
        font-family: 'Oleo Script', cursive
        color: $dark_grey
        font-weight: normal
      span.project_name
        color: $active_blue
    h2
      font-size: 16px
      font-weight: normal
      display: inline-block
      color: $dark_grey
      span
        color: $active_blue
  section.content
    display: block
    position: relative
    margin: 0 auto
    section.about
      padding-top: 1em
    section.sign_in, section.sign_up
      padding-top: 1em
      form
        display: block
        h1
          font-size: 18px
          margin: 0 0 15px 0
          span.alert
            color: $red
            font-weight: normal
            letter-spacing: 0px
        fieldset
          border: none
          padding: 0
          padding-bottom: 0
          label
          input[type="submit"]
            +button-skeleton(3px, $button_green)
            background-color: $button_green
            font-size: 14px
            color: #ffffff
            display: inline-block
            margin: 0 2em 0 0
          dl
            margin: 0
            dt
              font-size: 0.9em
            dd
              margin: 0
              div.field_with_errors
                display: inline-block
              span.error
                color: $red
              input[type="text"], input[type="password"], input[type="email"]
                width: 200px
                margin-bottom: 10px
                font-size: 14px
                padding: 5px
                +round-border(3px, #aaaaaa)
    section.about
      h1
        font-size: 18px
        margin: 0 0 15px 0
      >ul
        margin: 0
        padding: 0 0 1em 1em
      ul
        li
          padding: 2px
    section#task_form
      width: $task_form_width
      top: 4px
      position: absolute
      nav.status
        float: right
        margin-bottom: 7px
        vertical-align: middle
        a.active
          font-weight: bold
          color: $active_blue
      form
        fieldset
          border: none
          margin: 0
          padding: 0
          width: 100%
          textarea
            width: 100%
            font-size: 16px
            border: none
            border: solid 1px $grey
            z-index: 2
            color: $dark_grey
            position: relative
            font-family: 'Ubuntu Mono', monospace
            &:focus
              border: solid 1px $active_blue
          &.actions
            input
              margin: 0
            &[type="submit"]
              display: inline
    section#task_list
      width: 620px
      position: relative
      vertical-align: top
      left: $task_form_width + 10px
      overflow-y: auto
      &>ul
        display: block
        padding: 0px
        margin-top: -1px
        li
          padding-right: 10px
          border: solid 1px $grey
          position: relative
          list-style: none
          margin-bottom: 2px
          background: #eee
          height: 26px
          &:hover
            border: solid 1px black
          &:hover, &.selected
            background: $active_blue
            a
              color: #fff
          a
            padding-left: 5px
            vertical-align: middle
          a.delete
            float: right
            +task-button($red)
          a.complete
            float:left
            +task-button($button_green)
            border-left: none
    pre.placeholder
      color: #cccccc
      font-family: 'arial', sans-serif
      position: absolute
      top: 58px
      left: 17px
      z-index: 1
