%pre.placeholder= "! Example project name\n\nFirst example task\n  This is an example description for this task.\n  To have a description for a task. Simply indent.\n\nSecond example task\n  This is the description for the second task.\n  Start a new task by undenting completely.\n  And there you have it. Quickly and easily make\n  a shit ton of tasks and manage them.\n\n\n\n"
